@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #fafafa;
}

*, button, svg {
    box-sizing: border-box;
    outline: 0;

    &:focus {
        outline: 0;
    }
}

textarea {
    resize: none;
}

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.form {
    &__input,
    &__textarea {
        border: 1px solid #dcdfe6;
    }
}

.find {
    &__icon {
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.note {
    &__remove {
        right: 20px;
        top: 15px;
    }
}

.active-element {
    @apply text-purple-600;
}

.radio {
    &__label {
        position: relative;
        padding-left: 20px;
        @apply text-purple-600;
        @apply font-medium;
        cursor: pointer;

        &::after, &::before {
            position: absolute;
            top: 1px;
            left: 0;
            content: '';
            transition: .3s;
        }

        &::after {
            top: 5px;
            left: 4px;
            width: 8px;
            height: 8px;
            opacity: 0;
            border-radius: 100%;
            background-color: CurrentColor;
        }

        &::before {
            width: 16px;
            height: 16px;
            border: 1px solid CurrentColor;
            border-radius: 100%;
        }
    }

    &__input:checked + &__label::after {
        opacity: 1;
    }
}

.priority {
    &-medium {
        @apply border-yellow-400;
    }

    &-high {
        @apply border-red-400;
    }
}

@media (min-width: 1680px) {

}